<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    {% if site.google_verification %}
    <meta name="google-site-verification" content="{{ site.google_verification }}">
    {% endif %}
    {% if site.google_tag %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ site.google_tag }}');</script>
    <!-- End Google Tag Manager -->
    {% endif %}
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta property="og:image" content="{{ site.url }}{{ site.social_image }}" />
    <meta name="twitter:image" content="{{ site.url }}{{ site.social_image }}" />
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">

    {% seo %}

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "{{ site.title }}",
      "description": "{{ site.description }}",
      "url": "{{ site.url }}",
      "logo": "{{ site.url }}/{{ site.logo }}",
      "sameAs": [
        "{{ site.facebook.publisher }}",
        "{{ site.youtube }}"
      ],
      "contactPoint": {
        "@type": "ContactPoint",
        "contactType": "Customer Service",
        "email": "{{ site.contact.email }}"
      }
    }
    </script>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <script async src="https://js.stripe.com/v3/buy-button.js"></script>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
