/* ADS
-------------------------------------------------*/
.ads {
    margin-bottom: $space;
    background: $colorBg;
    @extend %space;
    h2, h3, h4, h5, h6 {
        font-weight: 700;
    }
    h3 {
        padding-top: 15px;
    }
    h4, h5, h6 {
        padding: 10px 0;
        margin: 0;
    }
}